@import "tailwindcss";

@theme {
  --color-primary-100: #fdecf4;
  --color-primary-300: #eaa8c3;
  --color-primary-500: #cf6387;
  --color-primary-600: #ac5174;
}

html,
body {
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: var(--color-primary-100);
}

h2 {
  font-family: "Kalam", cursive;
}
